//////////////////////////////////
@import "_rules.scss";
//////////////////////////////////

#background{
    background-color: $background;
    width: 100%;
    height: 100vh;   
    perspective: 10px;
    overflow: hidden; 
    transform-style: preserve-3d;   
    position: fixed;   
    z-index: -1;  
}  
 
       
#inner/* , #inner2 */ {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1.5s; 
} 


#inner li { 
    transition: 5s;
    position: absolute; 
    display: block;
    list-style: none; 
    background: $purple;
    animation: animate 25s linear infinite;
    bottom: -150px !important;
    border-radius: 100%;  
    transition: .5s ease;  
} 

#inner li:nth-child(1) {
    left: 15%;
    bottom: 0px;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}


#inner li:nth-child(2) {
    left: 10%;
    bottom: 0px;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

#inner li:nth-child(3) {
    left: 30%;
    bottom: 0px;
    width: 10px;
    height: 10px;
    animation-delay: 4s;
}

#inner li:nth-child(4) {
    left: 40%;
    bottom: 0px;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    animation-duration: 18s;
}

#inner li:nth-child(5) {
    left: 25%;
    bottom: 0px;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

#inner li:nth-child(6) {
    left: 50%;
    bottom: 0px;
    width: 25px;
    height: 25px;
    animation-delay: 3s;
}

#inner li:nth-child(7) {
    right: 35%;
    bottom: 0px;
    width: 30px;
    height: 30px;
    animation-delay: 7s;
}

#inner li:nth-child(8) {
    left: 50%;
    bottom: 0px;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

#inner li:nth-child(9) {
    left: 20%;
    bottom: 0px;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

#inner li:nth-child(10) {
right: 15%;
bottom: 0px;
    width: 22px;
    height: 22px;
    animation-delay: 0s;
    animation-duration: 11s;
}

#inner li:nth-child(11) {
    right: 15%;
    bottom: 0px;
    width: 30px;
    height: 30px;
    animation-delay: 5s;
    animation-duration: 10s;
}
 
#inner li:nth-child(12) {
right: 10%;
bottom: 0px;
    width: 25px;
    height: 25px;
    animation-delay: 4s;
    animation-duration: 15s;
}
 

@keyframes animate {

    0% {
        /* transform: translateY(0) rotate(0deg);*/ 
       opacity: 1; 
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
         opacity: 0; 
    }
 
}
 
 
#inner li.active {
    background: radial-gradient(rgba(255, 160, 0, 100), rgba(0, 0, 38,0)70%); 
    transform: scale(1.5);
  } 
  
  li.scale {
    transform: scale(1.9); 
  }   