//////////////////////////////////
@import "_rules.scss";
//////////////////////////////////

form {
    width: 100%;
    margin-top: 0px;
    transition: all 2s ease-in-out;
}

.form-control {
    width: 100%; 
    background: transparent; 
    outline: none;
    border: none; 
    color: white;  
    font-size: 15px; 
    /* border-bottom: 5px solid white; 
    margin-bottom: 20px; */  
}

#contact-form--container {
    width: 100%;
    @extend %center; 
}

.contact-form {
    width: 40%;
    @include desktop-lg {width: 50%;}
    @include tablet {width: 60%;}
    @include phone {width: 80%;}
}

.form-control-purple {
    width: 100%; 
    height: 10px;
    background: $purple; 
    margin-bottom: 10px;
}

::placeholder { color: rgba(255, 255, 255, .5);
    font-family: "futura pt", sans-serif; 
} 

input {
    height: 45px;
    font-family: "futura pt", sans-serif;
}

textarea {
    resize: none;
  }
 
  #form-submit-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 45px; 
      @include tablet {margin: 20px 0 50px 0;}
      button  {
          margin: 0px !important;
      }
  }
 
  #recaptchaContainer {
      transform: scale(0.7);
      transform-origin: 0 0;
      @include tablet {transform-origin: 0;}
  } 

/* form .submit {
    background: orange; 
    font-size: 30px; 
    width: 100%; 
    border: transparent; 
    margin-top: 20px; 
    height: 50px;
    border-radius: 15px;
    transition: .5s; 
    cursor: pointer; 
    
}

form .submit:hover {
    background-color: darkorange; 
    transform: scale(1.1);  } */