//////////////////////////////////
@import "_rules.scss";
//////////////////////////////////

.section__h2 {
    text-align: center;
    margin-top: 10vh;
    padding-top: 10vh;
} 


.expierence__containers {
    width: 100%;
    &__text {
       color: orange; 
    }
}
