//////////////////////////////////
@import "_rules.scss";
//////////////////////////////////
#home {
    @extend %center; 
    height: 100vh;
    h1 {
        @include phone {
            font-size: 30px; margin-top: 10px;
        }
    }
    h2 {
        @include phone {font-size: 20px;}
    }
}
#home__content--wrapper {
    @extend %center; 
    flex-direction: row;  
    justify-content: space-between !important;
    width: 55%;
    @include desktop-sm {
        width: 80%;
    }  
    @include tablet {
        flex-direction: column-reverse;
        justify-content: center !important;
        text-align: center;
    }
}  
  
.home__content__img {
    width: 300px; 
    height: 300px;   
    border-radius: 50%;
    @extend %shadow;  
    background-color: rgba(255, 255, 255, .8); 
    background-image: url(https://faartoft.com/images/mikkel.png);  
    background-position: center;
    background-size: cover;
    @include desktop-lg {
        width: 250px;
        height: 250px; 
    }
    @include tablet {
        width: 200px;
        height: 200px;
    }
} 

