//////////////////////////////////
@import "_rules.scss";
//////////////////////////////////

/* @media only screen and (max-width: 1050px) {
    h1 {
        color: green;
    }  */ 
    /* HOME */
  /*   #home__content--wrapper {
        flex-wrap: wrap-reverse;
        width: 70%;
        justify-content: center !important;
    }
    .home__content__img {
        width: 250px;
        height: 250px;
    } */
    /* EXPIERENCE */
   
/* }  */

/* @media only screen and (max-width: 1050px)

 */