//////////////////////////////////
@import "_rules.scss";
//////////////////////////////////
.section__h2 {
    text-align: center;
    margin-top: 10vh;
    padding-top: 10vh;
}   

.section__p {
	text-align: center;
	width: 30%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}

#projects__container {
    @extend %center; 
    flex-wrap: wrap;
}


#projects {
	position: relative;   
} 
 

/* DETAILV VIEW */

.detail-view {
	display: none;
	width: 90%;
	height: 80vh;
	background-color: white;
	@extend %shadow; 
	z-index: 999999;
	position: absolute; 
	@extend %absolutecenter; 
	top: 10%;  
	position: fixed;
	/* overflow-y: scroll; */   
}  

.detail-view-container {
	display: flex;
	flex-direction: row;
	color: $background;
	&__text { 
		width: 70%;
		display: flex;
		flex-direction: row; 
		&--left, &--right {
			display: flex; 
			flex-direction: column;
			justify-content: space-evenly;
			width: 40%;
			margin-left: 5%;
		}
	}
}

.detail-view-container__card {
	width: 30%;
	height: 80vh;
	@extend %shadow; 
	background-position: center;
	background-size: cover; 
}

.gifs {
	position: relative;
}

.icons {
	img {
		margin: 10px;
	}
}

.logo {
	transform: perspective(600px) rotateY(-25deg);
	width: 20%;
	height: auto;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
  }
  
  .logo2 {
	transform: perspective(600px) rotateY(-25deg);
	width: 80%;
	height: auto; 
	position: absolute;
	z-index: -1;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
  bottom: 5px;
  left: 5px;
  }

  .detail-view-cta {
	  display: flex;
	  flex-direction: row;
	  button {
		  margin-left: 10px; 
	  }
  }



#barhunt.active, #repenso.active, #calcul8r.active, #race.active  { 
	display: block;
	}       
     
	 

.close-detail-view {
	background: $cta;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: absolute;
	top: -10px;
	right: -10px;
	@extend %center; 
}

.detail-view-container--gradient {
	width: 100%;
    height: 100%;
    @extend %center;  
    background-color: $project-card;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: solid 15px white;
	&__h2 {
		font-size: 50px;
		color: white;
	}
}




.project {
    cursor: url(../images/icons/cursor7.png), pointer; 
    z-index: 9;
	width: 260px;
	height: 260px;
	margin: 30px;
	float: left;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
    perspective: 1000px;
	list-style-type: none; 
}

.poster {
    background-position: center;
    background-size: cover; 
}

.poster--gradient {
    width: 100%;
    height: 100%;
    @extend %center;  
    background-color: $project-card;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 10px white;
}

.project--content {
	width: 260px;
	height: 260px; 
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform .5s;
}

.project--content:hover {
	-webkit-transform: rotateY(-75deg) translateZ(15px);
	-moz-transform: rotateY(-75deg) translateZ(15px);
	transform: rotateY(-75deg) translateZ(15px);
}

/*************************************
Transform and style the two planes
**************************************/

.project--content .poster, 
.project--content .info {
	position: absolute;
	width: 260px;
	height: 260px;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;  
} 

.project--content .poster  {
	-webkit-transform: translateZ(130px);
	-moz-transform: translateZ(130px);
	transform: translateZ(130px);
	background-size: cover;
	background-repeat: no-repeat;
}

.project--content .info {
	-webkit-transform: rotateY(90deg) translateZ(130px);
	-moz-transform: rotateY(90deg) translateZ(130px);
	transform: rotateY(90deg) translateZ(130px);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .project--content::after {
	content: '';
	width: 260px;
	height: 260px;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0,0,0,0.3);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(130px);
	-moz-transform: rotateX(90deg) translateY(130px);
	transform: rotateX(90deg) translateY(130px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .project--content:hover::after {
	box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/*************************************
Movie information
**************************************/

.info header {
	position: fixed; 
	color: #FFF;
	padding: 7px 10px;
	font-weight: bold;
	height: 195px;
	background-size: contain;
	background-repeat: no-repeat;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.project__button--container {
    width: 100%;
    @extend %center; 
}


.info header h1 {
	margin: 0 0 2px;
	font-size: 1.4em;
}



.info p {
	padding: 1.2em 1.4em;
	margin: 2px 0 0;
	font-weight: 700;
	color: #666;
	line-height: 1.4em;
	border-top: 10px solid #555;
}

/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
	box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.csstransforms3d .movie:hover .poster {
	box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.csstransforms3d .movie .info, 
.csstransforms3d .movie .info header {
	box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .movie:hover .info, 
.csstransforms3d .movie:hover .info header {
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

/*************************************
Posters and still images
**************************************/


/*************************************
Fallback
**************************************/
.no-csstransforms3d .movie .poster, 
.no-csstransforms3d .movie .info {
	position: relative;
}

