///////////////////////////////
@import "_rules";
@import "_nav";  
@import "_background";
@import"_mouse"; 
@import "_home"; 
@import "_projects";
@import "_about";
@import "_expierence";
@import "_contact";  
//////////////////////////////

//////// overall page styling /////////
*{margin: 0; padding: 0;}

body {  
    cursor: url(../images/icons/cursor8.png), auto;  
    color: white; 
    font-family: "futura pt", sans-serif;
    overflow-x: hidden;  
}  
  
h1 {  
    font-weight: 700;
    font-size: 3em;
} 
section {
    width: 100%;
    height: 100vh;
   /*  background-color:rgba($color: #000000, $alpha: .5); */         
} 

.section__cta__text {
    position: absolute;
    margin: auto;
    bottom: 80px;
}
 
//////////////////////////////////////


 //CTA 

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}


button {
    margin-top: 15px;
    position: relative;
    display: inline-block;
    cursor: none;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    &.learn-more {
      width: 12rem; 
      height: auto;
      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: $cta;
        border-radius: 1.625rem;
        img {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0.85rem;
            top: 0.85rem;
            
        } 
        /* .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: $white; 
          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              right: 0.0625rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
              transform: rotate(45deg);
            }
          } 
        } */  
      }
      .button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 10px;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: white;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
        width: auto;
      }
    }
    &:hover {
      .circle {
        width: 100%; 
        .icon {
          &.arrow {
          background: white;
          transform: translate(1rem, 0);
          }
        }
      }
      .button-text {
        color: white;
      }
    }
  }
  
