///////////////////////////////
@import "_rules";
@import "_nav";  
@import "_background";
@import"_mouse"; 
@import "_home"; 
@import "_projects";
@import "_about";
@import "_expierence";
@import "_contact";  
@import "_mediaquery"; 
@import "_buttons"; 
//////////////////////////////

//////// overall page styling /////////
html {scroll-behavior: smooth;}    

*{margin: 0; padding: 0;}

body {  
    cursor: url(../images/icons/cursor8.png), auto;  
    color: white; 
    font-family: "futura pt", sans-serif;
    overflow-x: hidden;  
}  

a {cursor: url(../images/icons/cursor8.png), pointer;}
  
h1 {  
    font-weight: 700;   
    font-size: 3em;
} 
section { 
    width: 100%;
    margin-bottom: 10%;
   /*  height: 100vh; */
   /*  background-color:rgba($color: #000000, $alpha: .5); */         
} 

.section__h2 {
    text-align: center;
    margin-top: 10vh;
    padding-top: 10vh;  
}

.section__p {
	text-align: center;
	width: 30%;
	margin: auto;
	margin-top: 2%;
  margin-bottom: 2%;  
  @include desktop-sm {
    width: 50%;
  }
  @include phone {
    width: 80%; 
  }
}  



/* .section__cta__text {
    position: absolute;
    margin: auto;
    bottom: 80px;
} */
